.section
  .header
    %h2= link_to(@student.name, @student)
    %h3= link_to(@assignment.name,  [@student, @assignment])
    %h4=h @criterion.title
  
  .content
    %p=h @criterion.help
    = render('grades/form', :student => @student, :assignment => @assignment, :criterion => @criterion, :grade => @grade)
