%h2= link_to('Assignments', assignments_path)
%h3= link_to(@assignment.name, @assignment)
%h4= link_to(@question.title, [@assignment, @question])

= render('questions/form', :assignment => @assignment, :question => @question)
