<h3>New Question</h3>

<% form_for [@assignment, @question] do |form| %>
  <%= render :partial => 'questions/form', :locals => { :form => form } %>
  
  <p>
    <%= form.submit 'Create' %>
  </p>
<% end %>
