%h2= link_to('Assignments', assignments_path)
%h3= link_to(@assignment.name, @assignment)
%h4= 'New Question'

= render('questions/form', :student => @student, :assignment => @assignment, :question => @question)
