<% form_for(@assignment) do |assignment_form| %>
<div id="assignment">
  <%= assignment_form.error_messages %>
  
  <p>
    <%= assignment_form.label :name %><br />
    <%= assignment_form.text_field :name %>
  </p>
</div>

<p><%= assignment_form.submit 'Update' %></p>

<% end %>
