.section
  .header
    %h2= 'Assignments'
  
  .content
    %ul
      - @assignments.each do |assignment|
        %li= link_to(assignment.name, assignment)
  .footer
    = link_to('Add Assignment', new_assignment_path)