<h2><%= link_to @assignment.name, @assignment %></h2>

<%= render :partial => 'questions/list', :locals => { :assignment => @assignment, :questions => @assignment.questions } %>

<%= link_to 'Edit', edit_assignment_path(@assignment) %> |
<%= link_to 'Add Question', new_assignment_question_path(@assignment) %>