<h2><%=h @student.name %></h2>


<h3>Grades</h3>


<%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'Delete', student_path(@student), :confirm => 'Are you sure?', :method => :delete %>