html {
  font-family: Helvetica, Verdana, Arial, sans-serif;
  background-color: #e0e0e0;
  font-size: 1em;
}

#header {
  padding: 0 1em 0 1em;
  background-color: #7a1818;
}

#header h1 {
  font-size: 2em;
  color: #ffffff;
  padding: 0.5em 0 0.5em 0;
}

#nav {
  background-color: #262626;
}

#nav ul {
  list-style-type: none;
  padding: 0.5em 0 0.5em 0;
}

#nav ul li {
  display: inline;
  color: #ffffff;
  padding: 0.5em 1em 0.5em 1em;
}

#nav ul li a {
  text-decoration: none;
  color: #ffffff;
}


#nav ul li.active {
  background-color: #e0e0e0;
}

#nav ul li.active a {
  color: #000000;
}

#article {
  margin: 1em;
  padding: 1em;
  background-color: #ffffff;
}

#article h1 {
  font-size: 2em;
  font-weight: bold;
}

#article h2 {
  font-size: 1.5em;
  font-weight: bold;
}

#article h3 {
  font-size: 1.25em;
  font-weight: bold;
}

#article h4 {
  font-size: 1em;
  font-weight: bold;
}

#article h5 {
  font-size: 0.5em;
  font-weight: bold;
}

#article a {
  color: #7a1818;
  text-decoration: none;
}

#article .section:first-child {
  margin-top: 0;
}

#article .section {
  margin: 1em 0 1em 0;
}

#article .section:last-child {
  margin-bottom: 0;
  border-bottom: none;
}

#article .section .footer li {
  display: inline;
  padding: 0.25em 0.5em 0.25em 0.5em;
  margin-right: 0.5em;
  background-color: #e0e0e0;
  border: 1px solid #000000;
  font-size: 0.75em;
  font-weight: bold;
}

#article .section .content {
  margin: 1em 0 1em 0;
}

#article .section .content ul {
  margin-left: 1em;
}

#article .section .content ul li {
  list-style-position: inside;
  list-style-type: disc;
  padding: 0.15em;
}

#article .section .content form dl {
  margin-left: 0;
}

#article .section .content form dt {
  float: none;
  font-size: 1em;
  color: #000000;
  width: auto;
  text-align: left;
  padding: 0.5em 0 0.5em 0;
  font-weight: bold;
}

#article .section .content form dd {
  margin: 0;
  padding: 0 0 1em 0;
  font-weight: normal;
}

#article .section .content dl {
  margin-left: 1em;
}

#article .section .content dt {
  float: left;
  clear: left;
  width: 12em;
  text-align: right;
  color: #666666;
  font-size: 1em;
}

#article .section .content dd {
  margin: 0 0 0 13em;
  padding: 0 0 0.5em 0;
  font-weight: bold;
}

#article .section .content dd:last-child {
  padding: 0;
}

#article .section .content p:first-child {
  margin-top: 0;
}

#article .section .content p {
  margin: 1em 0 1em 0;
}

#article .section .content p:last-child {
  margin-bottom: 0;
}

#article .section .content td {
  padding: 0 0.2em 0 0.2em;
  text-align: center;
}

#article .section .content hr {
  border: 1px solid #e0e0e0;
}

#article .section .content table tr td:first-child {
  text-align: left;
  width: 15em;
}

#article .section .content table tr td {
  padding: 0.5em;
  text-align: center;
  width: 5em;
}

#article .section .content table thead tr td {
  font-weight: bold;
  color: #ffffff;
  background-color: #333333;
  font-size: 0.75em;
}

div.help {
  margin: 0.5em 0 0.5em 0;
}

div.partial {
  background-color: #ffdddd;
}

div.flash {
  margin: 1em;
  padding: 0.5em;
  color: #333333;
}

div.flash#notice {
  background-color: #bbffb6;
  border: 1px solid #1fdf00;
}

div.flash#error {
  background-color: #ffdddd;
  border: 1px solid #ffbbbb;
}

div.flash#warning {
  background-color: #ffffcc;
  border: 1px solid #fffaaa;
}